<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>

<p>Makes multipart/form-data http post request with file content to @Constants.PostmanEchoPost to examine the request.</p>

<h1>Post file - direct</h1>

<form action="@Constants.PostmanEchoPost" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</form>


<h1>Post file - through <a href="https://github.com/ProxyKit/ProxyKit">ProxyKit</a></h1>

<form action="/ProxyKit/File" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</form>


<h1>Post file - through <a href="https://github.com/twitchax/AspNetCore.Proxy">AspNetCore.Proxy</a></h1>

<form action="/AspNetCoreProxy/File" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</form>

</body>
</html>